@font-face {
  font-family: "iconfont"; /* Project id 5042063 */
  src: url('//at.alicdn.com/t/c/font_5042063_iq8b60d5hu.woff2?t=1760774618737') format('woff2'),
       url('//at.alicdn.com/t/c/font_5042063_iq8b60d5hu.woff?t=1760774618737') format('woff'),
       url('//at.alicdn.com/t/c/font_5042063_iq8b60d5hu.ttf?t=1760774618737') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e62b";
}

.icon-biaoxing:before {
  content: "\e733";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-jia:before {
  content: "\e6a1";
}

.icon-wode:before {
  content: "\e8bb";
}
