@font-face {
  font-family: "iconfont"; /* Project id 5042063 */
  src: url('//at.alicdn.com/t/c/font_5042063_03zdzwhunjun.woff2?t=1760864528940') format('woff2'),
       url('//at.alicdn.com/t/c/font_5042063_03zdzwhunjun.woff?t=1760864528940') format('woff'),
       url('//at.alicdn.com/t/c/font_5042063_03zdzwhunjun.ttf?t=1760864528940') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kucun:before {
  content: "\e610";
}

.icon-yemian:before {
  content: "\e632";
}

.icon-gistuceng:before {
  content: "\e7b5";
}

.icon-shuxing:before {
  content: "\e625";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-24gl-redo3:before {
  content: "\eb71";
}

.icon-24gl-undo3:before {
  content: "\eb75";
}

.icon-suo:before {
  content: "\e636";
}

.icon-niantie:before {
  content: "\e687";
}

.icon-top:before {
  content: "\e608";
}

.icon-a-Notvisible:before {
  content: "\e714";
}

.icon-xiezuo:before {
  content: "\e704";
}

.icon-bianji:before {
  content: "\e62b";
}

.icon-biaoxing:before {
  content: "\e733";
}

.icon-huishouzhan:before {
  content: "\e61a";
}

.icon-jia:before {
  content: "\e6a1";
}

.icon-wode:before {
  content: "\e8bb";
}
