:root {
}
.display {
  display: flex;
  align-items: center;
  justify-content: center;
}

html.light {
  --main-text-color: #000;
  --main-color: #1677ff;
  --menu-item-bg-color: #1677ff;
  --menu-item-font-color: #fff;
  --log-bg-color: #fff;
  --log-title-color: #fff;
  /* questionEdit组件的背景颜色 */
  --left-panel-bg-color: #fff;
  --right-panel-bg-color: #fff;
  --center-panel-bg-color: #fff;
  --question-title-color: #000;
  --question-hover-border-color: #dedede;
  --question-avtive-color: #1677ff;

  /* 组件库列表 开始*/
  /* 组件库列表每一个组件的背景颜色 */
  --componentsLib-item-bg-color: #f8f8f8;
  --componentsLib-item-hover-color: #ebebeb;
  /* 组件库列表 结束*/
  /* 统计分析组件的背景颜色 */
  --statistics-bg-color: #fff;
  --statistics-shadow-color: rgba(153, 153, 153, 0.3);
}

html.dark {
  --main-text-color: #fff;
  --main-color: #1677ff;
  --menu-item-bg-color: #1677ff;
  --menu-item-font-color: #fff;
  --log-bg-color: #fff;
  --log-title-color: #fff;
  /* questionEdit组件的背景颜色 */
  --left-panel-bg-color: #222;
  --right-panel-bg-color: #222;
  --center-panel-bg-color: #222;
  --question-title-color: #fff;
  --question-hover-border-color: #dedede;
  --question-avtive-color: #1677ff;
  /* 组件库列表每一个组件的背景颜色 */

  /* 组件库列表 开始*/
  /* 组件库列表每一个组件的hover颜色 */
  --componentsLib-item-bg-color: #333;
  --componentsLib-item-hover-color: #f7f7f7;
  /* 组件库列表 结束*/
  /* 统计分析组件的背景颜色 */
  --statistics-bg-color: #666666;
  --statistics-shadow-color: rgba(255, 255, 255, 0.3);
}
