:root {
}
.display {
 display: flex;
 align-items: center;
 justify-content: center;
}

html.light {
  --main-color: #1677ff;
  --menu-item-bg-color: #1677ff;
  --menu-item-font-color: #fff;
  --log-bg-color: #fff;
  --log-title-color: #fff;
}

html.dark {
  --main-color: #1677ff;
  --menu-item-bg-color: #1677ff;
  --menu-item-font-color: #fff;
  --log-bg-color: #fff;
  --log-title-color: #fff;
}
